<i><%= pee_stats %></i>
<p/>
<%= @welcome_message.body %>
<% unless @news_items.empty? %>
	<br/>
	<h3>
		Recent News
		<%= render :partial=>'newsrsslink'%>
	</h3>
	<hr/>
	<br/>
	<% for newsitem in @news_items %>
    <h3>
    	<%= link_to newsitem.title, :action=>:newsitem, :id=>newsitem %>
    </h3>
    <i><%= format_time newsitem.created %></i><br/>
    Comments: 
    <%= link_to newsitem.comments.size, :action=>:newsitem, :id=>newsitem %>
    <br/><br/>
	<% end %>
<% end %>
