A comment has been submitted for the entry titled <%= @entry.title %>

http://peeoutside.org/pee/photo/<%= @entry.id %>

Name: <%= @comment.name %>
Location: <%= @comment.location %>

----------

<%= h(@comment.data) %>

