A comment has been submitted for the news item titled <%= @newsitem.title %>

http://peeoutside.org/pee/newsitem/<%= @newsitem.id %>

Name: <%= @comment.name %>
Location: <%= @comment.location %>

----------

<%= h(@comment.data) %>
