Someone has just signed up with peeoutside!

First name: <%= @signup.first_name %>
Last name : <%= @signup.last_name %>
Email     : <%= @signup.email %>
Pledged?  : <%= @signup.pledged? ? "yes" : "no" %>

This information is also in the admin area.

